
main {
    min-height: 80vh;
}

h3 {
    padding: 1rem;
}

.rating span {
    margin: 0.1rem;
}
.card-text:last-child {
    margin-bottom: 0;
    font: italic 1.2em "Fira Sans", serif;
}

.card-img, .card-img-bottom, .card-img-top {
    width: 220px;
    height: 200px;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    height: 400px;
}

